####################################
#   BASE
####################################

# defautl #################################
export EDITOR="/usr/bin/vim"
export TERM_BIN="/usr/bin/alacritty"
export BROWSER="/usr/bin/firefox"
export READER="/usr/bin/zathura"
export WORKSPACE="$HOME/Workspace"
export TEMPLATES="$HOME/Templates"
export PAGER="/usr/bin/less"

# env #################################
# Qt update
export QT_AUTO_SCREEN_SCALE_FACTOR=0
# Use gtk2 in qt
QT_QPA_PLATFORMTHEME=gtk2
# X resources
export XDG_CONFIG_HOME="$HOME/.config"

# bin #################################
# Node exec
PATH="$HOME/.node_modules/bin:$PATH"
# Node local bin
PATH="$HOME/.local/bin:$PATH"
export npm_config_prefix=~/.node_modules
# Go local bin
export  GOPATH="$WORKSPACE/go"
PATH="$GOPATH/bin:$PATH"

# Local bin
if [ -d "$HOME/.config/bin" ]; then
    export PATH="$HOME/.config/bin:$PATH"
    # Dmenu
    export SUDO_ASKPASS="dmenupass"
fi

####################################
#   BASH
####################################

[ -f ~/.bashrc ] && source ~/.bashrc

####################################
#   STARTX
####################################
if [[ ! $DISPLAY && $XDG_VTNR -eq 1 ]]; then
  exec startx
fi

