# Profile for serverx/bash/zsh

# env #################################
# Qt update
export QT_AUTO_SCREEN_SCALE_FACTOR=0
# Use gtk2 in qt
QT_QPA_PLATFORMTHEME=gtk2
# X resources
export XDG_CONFIG_HOME=$HOME/.config
export XDG_DATA_HOME=$HOME/.local/share
export XDG_CACHE_HOME=$HOME/.local/cache/
mkdir -p $HOME/.local/tmp/
chmod 7700 $HOME/.local/tmp/
export XDG_RUNTIME_DIR=$HOME/.local/tmp/
export SHELL_CONFIG=$XDG_CONFIG_HOME/shell/

# Source xdg mapping
source $XDG_CONFIG_HOME/xdg_base_dir
source $XDG_CONFIG_HOME/shell/defaults

[ -x "$(which dmenupass)" ] && export SUDO_ASKPASS="dmenupass"

# STARTX
if [[ -z  ${DISPLAY} ]] && [[ "$(tty)" == "/dev/tty1" ]]; then
    eval $(/usr/bin/gnome-keyring-daemon --start --components=pkcs11,secrets,ssh)
    export SSH_AUTH_SOCK

    # Wayland
    # IF wayland is installed
    # Don't set it
    # export GDK_BACKEND=wayland
    # export QT_QPA_PLATFORMTHEME=wayland
    # export CULTTER_BACKEND=wayland
    # export CULTTER_VIDEODRIVER=wayland

    # Grafical server
    # exec sway

    # X11
    # [[ -f ~/.Xresources ]] && xrdb -merge -I$HOME ~/.Xresources
    exec startx "$XINITRC"
fi

