! ===================
!       urxvt
!===================

URxvt*scrollBar: false
URxvt*letterSpace: 0.7
URxvt.internalBorder: 10
URxvt*font: xft:InconsolataGo Nerd Font:size=14
URxvt*cursorBlink: true
URxvt.iso14755: false
URxvt*utf8: true
URxvt.keysym.C-equal: resize-font:bigger
URxvt.keysym.C-parenright: resize-font:smaller
URxvt.depth: 32
URxvt.background: [85]{{ .colors.background }}

!========================
! Colors
! ========================
! hard contrast: *background: {{ .colors.hard_background }}
*background: {{ .colors.background }}
! soft contrast: *background: {{ .colors.soft_background }}
*foreground: {{ .colors.foreground }}
! Black + DarkGrey
*color0:  {{ .colors.black }}
*color8: {{ .colors.foreground }}
! DarkRed + Red
*color1:  {{ .colors.red }}
*color9:  {{ .colors.light_red }}
! DarkGreen + Green
*color2:  {{ .colors.dark_green }}
*color10: {{ .colors.green }}
! DarkYellow + Yellow
*color3: {{ .colors.dark_yellow }}
*color11: {{ .colors.yellow }}
! DarkBlue + Blue
*color4:{{ .colors.dark_blue }}
*color12: {{ .colors.blue }}
! DarkMagenta + Magenta
*color5: {{ .colors.dark_magenta }}
*color13: {{ .colors.magenta }}
! DarkCyan + Cyan
*color6:  {{ .colors.dark_cyan }}
*color14: {{ .colors.cyan }}
! LightGrey + White
*color7:  {{ .colors.light_grey }}
*color15: {{ .colors.dark_white }}

!========================
! Xautolock
! ========================
! stop locking in left corner
! Xautolock.corners: -+00
! Xautolock.cornerdelay: 1
! Xautolock.cornerredelay: 2
! hinibit screen
Xautolock.notify: 20
Xautolock.notifier: notify-send -u low "20 seconds" "I will lock bitch"

! do nothing if sleeped
Xautolock.detectsleep: true
! locker
Xautolock.time: 5
Xautolock.locker: footlocker --dpms
! hibernate
! Xautolock.killtime: 15
! Xautolock.killer: footlocker --dpms && systemctl hibernate
Xautolock.noclose: true
