{
	"$schema": "https://joplinapp.org/schema/settings.json",
	"locale": "en_US",
	"api.token": "9e160397b04421b246663ab4f406aae59c1d8c19442ed0644acd44415929e74bc4791b254783c3123f8a8b825235403f026335770e9ac7a0bed6efaa9f9a581e",
	"markdown.plugin.softbreaks": false,
	"markdown.plugin.typographer": false,
	"sync.target": 5,
	"sync.5.path": "{{ .nextcloud.joplin_url }}",
	"sync.5.username": "{{ .nextcloud.user }}"
}
