[Unit]
Description=Purge trash all week
Requires=purge-trash.service

[Timer]
Unit=purge-trash.service
OnCalendar=weekly
Persistent=true

[Install]
WantedBy=timers.target
