[Unit]
Description=SSH key agent

[Service]
Type=simple
NoNewPrivileges=yes
PrivateTmp=yes
DevicePolicy=closed
ProtectSystem=strict
ProtectHome=read-only
RestrictNamespaces=yes
RestrictRealtime=yes
MemoryDenyWriteExecute=yes
LockPersonality=yes
ExecStart=/usr/bin/ssh-agent -D -t 64400 -a %h/.local/tmp/ssh-agent.socket

[Install]
WantedBy=default.target
