#https://github.com/stesind/trash-empty
[Unit]
Description=weekly trash-empty service

[Service]
ExecStart=/usr/bin/trash-empty
ExecStopPost=/usr/bin/notify-send trash cleaned up ! 🗑️'

