#################################################################################
#
#        ::::::::::: ::::::::   :::       ::: ::::    ::::
#             :+:    :+:    :+:  :+:       :+: +:+:+: :+:+:+
#             +:+           +:+  +:+       +:+ +:+ +:+:+ +:+
#             +#+        +#++:   +#+  +:+  +#+ +#+  +:+  +#+
#             +#+           +#+  +#+ +#+#+ +#+ +#+       +#+
#             #+#    #+#    #+#   #+#+# #+#+#  #+#       #+#
#        ########### ########     ###   ###   ###       ###                                     #
#
# Auteur: {{ .git.name }}

###############################
#          MODIFIERS          #
###############################
set $mod Mod4
set $alt Mod1

###############################
#          APPARENCE          #
###############################

#font
font InconsolataGo Nerd Font:8

#import .Xressource colors
set_from_resource $c_foreground foreground
set_from_resource $c_background background
set_from_resource $c_black_d color0
set_from_resource $c_black_l color8
set_from_resource $c_red_d color1
set_from_resource $c_red_l color9
set_from_resource $c_green_d color2
set_from_resource $c_green_l color10
set_from_resource $c_yellow_d color3
set_from_resource $c_yellow_l color11
set_from_resource $c_blue_d color4
set_from_resource $c_blue_l color12
set_from_resource $c_magenta_d color5
set_from_resource $c_magenta_l color13
set_from_resource $c_cyan_d color6
set_from_resource $c_cyan_l color14
set_from_resource $c_white_d color7
set_from_resource $c_white_l color15

#Colors Apply
#class                  background    border        text          split
client.focused          $c_red_l      $c_red_l      $c_white_d    $c_blue_l
client.focused_inactive $c_background $c_background $c_yellow_l   $c_yellow_l
client.unfocused        $c_background $c_background $c_yellow_l   $c_yellow_l
client.urgent           $c_red_d      $c_red_d      $c_red_d      $c_red_d
client.background       $c_background

###############################
#         KEYBINDING          #
###############################
# launcher
bindsym $mod+d exec rofi -show run

# Windows movin flow
bindsym $mod+Tab exec --no-startup-id rofi -show window
for_window [class="^.*"] border pixel 2

# start a terminal
bindsym $mod+Return exec {{ .defaults.term }}

# lockscreen
bindsym $mod+Control+l exec xautolock -locknow

# start firefox
bindsym $mod+F1 exec firefox
# start a vim
bindsym $mod+F2 exec {{ .defaults.term }} -e vim

# start a ranger
bindsym $mod+F3 exec {{ .defaults.term }} -e nnn

# start a neomutt
bindsym $mod+F4 exec {{ .defaults.term }} -e neomutt

# start a weechat
bindsym $mod+F5 exec {{ .defaults.term }} -e weechat

# Start emoji keyboard
bindsym $mod+Control+u exec dmenuunicode

# Mount - Umount
bindsym $mod+Shift+m exec dmenumount
bindsym $mod+Control+m exec dmenuumount

# Dmenu
bindsym $mod+Shift+d exec --no-startup-id dmenu_run

# Wifi
bindsym $mod+Control+n exec networkmanager_dmenu

# kill focused window
bindsym $mod+Shift+q kill
bindsym $alt+F4 kill

# change focus
bindsym $mod+h focus left
bindsym $mod+j focus down
bindsym $mod+k focus up
bindsym $mod+l focus right

# screenshot
bindsym Print exec "scrot -s -z -e 'mv $f /tmp/ && xclip -selection clipboard -t image/png -i < /tmp/$f' && sleep 0.5 && notify-send screenshot -u low"

# scratchpad basic
bindsym $mod+Shift+Return [instance="dropdown"] scratchpad show

# alternatively, you can use the cursor keys:
# bindsym $mod+Left focus left
# bindsym $mod+Down focus down
# bindsym $mod+Up focus up
# bindsym $mod+Right focus right

# move focused window
bindsym $mod+Shift+h move left
bindsym $mod+Shift+j move down
bindsym $mod+Shift+k move up
bindsym $mod+Shift+l move right

# split in horizontal orientation
bindsym $mod+u split h

# split in vertical orientation
bindsym $mod+i split v

# Change mode
bindsym $mod+f fullscreen toggle
bindsym $mod+s layout stacking
bindsym $mod+z layout tabbed
bindsym $mod+x layout toggle split
bindsym $mod+Shift+f floating toggle

# toggle tiling / floating
bindsym $mod+Shift+space floating toggle

# change focus between tiling / floating windows
bindsym $mod+space focus mode_toggle

# focus the parent container
bindsym $mod+q focus parent

# reload the configuration file
bindsym $mod+Shift+c reload
# restart i3 inplace (preserves your layout/session, can be used to upgrade i3)
bindsym $mod+Shift+r restart
# exit i3 (logs you out of your X session)
bindsym $mod+Shift+e exec "i3-nagbar -t warning -m 'You pressed the exit shortcut. Do you really want to exit i3? This will end your X session.' -b 'Yes, exit i3' 'i3-msg exit'"

mode "resize" {
        # These bindings trigger as soon as you enter the resize mode

        # Pressing left will shrink the window’s width.
        # Pressing right will grow the window’s width.
        # Pressing up will shrink the window’s height.
        # Pressing down will grow the window’s height.
        bindsym h resize grow width 10 px or 10 ppt
        bindsym j resize shrink height 10 px or 10 ppt
        bindsym k resize grow height 10 px or 10 ppt
        bindsym l resize shrink width 10 px or 10 ppt

      # same bindings, but for the arrow keys
        bindsym Left resize shrink width 5 px or 5 ppt
        bindsym Down resize grow height 5 px or 5 ppt
        bindsym Up resize shrink height 5 px or 5 ppt
        bindsym Right resize grow width 5 px or 5 ppt

        # back to normal: Enter or Escape
        bindsym Return mode "default"
        bindsym Escape mode "default"
}

# Resize
bindsym $mod+r mode "resize"

# Audio
bindsym XF86AudioRaiseVolume exec pactl set-sink-volume @DEFAULT_SINK@ +1%
bindsym XF86AudioLowerVolume exec pactl set-sink-volume @DEFAULT_SINK@ -1%
bindsym XF86AudioMute exec --no-startup-id pactl set-sink-mute @DEFAULT_SINK@ toggle # mute sound
# Play / Pause Spotify
bindsym XF86AudioPlay exec dbus-send --print-reply --dest=org.mpris.MediaPlayer2.spotify /org/mpris/MediaPlayer2 org.mpris.MediaPlayer2.Player.PlayPause
bindsym XF86AudioPause exec dbus-send --print-reply --dest=org.mpris.MediaPlayer2.spotify /org/mpris/MediaPlayer2 org.mpris.MediaPlayer2.Player.PlayPause
bindsym XF86AudioNext exec dbus-send --print-reply --dest=org.mpris.MediaPlayer2.spotify /org/mpris/MediaPlayer2 org.mpris.MediaPlayer2.Player.Next
bindsym XF86AudioPrev exec dbus-send --print-reply --dest=org.mpris.MediaPlayer2.spotify /org/mpris/MediaPlayer2 org.mpris.MediaPlayer2.Player.Previous

# Bright
bindsym XF86MonBrightnessDown exec --no-startup-id xbacklight -dec 15
bindsym XF86MonBrightnessUp exec --no-startup-id xbacklight -inc 15

###############################
#         SCRATCHPADS         #
###############################
for_window [instance="dropdown"] floating enable;
for_window [instance="dropdown"] move scratchpad; [instance="dropdown"] scratchpad show; move scratchpad
for_window [instance="dropdown"] resize set 625 400
for_window [instance="dropdown"] border pixel 5

###############################
#           URGENT            #
###############################
for_window [urgent="latest"] focus

###############################
#         WORKSPACES          #
###############################
set $ws1 "1"
set $ws2 "2"
set $ws3 "3"
set $ws4 "4"
set $ws5 "5"
set $ws6 "6"
set $ws7 "7"
set $ws8 "8"
set $ws9 "9"
set $ws10 "10"
set $ws11 "11"
set $ws12 "12"

# Monitor
set $monitorDefault {{ .monitors.one }}
set $monitorTwo     {{ .monitors.two }}

{{- if eq .chezmoi.hostname "spectre" }}
workspace $ws1 output $monitorDefault
workspace $ws2 output $monitorDefault
workspace $ws3 output $monitorDefault
workspace $ws4 output $monitorDefault
workspace $ws5 output $monitorDefault
workspace $ws6 output $monitorDefault
workspace $ws7 output $monitorDefault
workspace $ws8 output $monitorDefault
workspace $ws9 output $monitorDefault
workspace $ws10 output $monitorTwo
workspace $ws11 output $monitorTwo
workspace $ws12 output $monitorTwo

{{- else if eq .chezmoi.hostname "simforhealth" }}
workspace $ws1 output $monitorDefault
workspace $ws2 output $monitorDefault
workspace $ws3 output $monitorDefault
workspace $ws4 output $monitorDefault
workspace $ws5 output $monitorDefault
workspace $ws6 output $monitorDefault
workspace $ws7 output $monitorTwo
workspace $ws8 output $monitorTwo
workspace $ws9 output $monitorTwo
workspace $ws10 output $monitorTwo
workspace $ws11 output $monitorTwo
workspace $ws12 output $monitorTwo

{{- end }}


# switch to workspace
bindsym $mod+ampersand workspace $ws1
bindsym $mod+eacute workspace $ws2
bindsym $mod+quotedbl workspace $ws3
bindsym $mod+apostrophe workspace $ws4
bindsym $mod+parenleft workspace $ws5
bindsym $mod+minus workspace $ws6
bindsym $mod+egrave workspace $ws7
bindsym $mod+underscore workspace $ws8
bindsym $mod+ccedilla workspace $ws9
bindsym $mod+agrave workspace $ws10
bindsym $mod+parenright workspace $ws11
bindsym $mod+equal workspace $ws12

# move focused container to workspace
bindsym $mod+Shift+ampersand move container to workspace $ws1; workspace $ws1
bindsym $mod+Shift+eacute move container to workspace $ws2; workspace $ws2
bindsym $mod+Shift+quotedbl move container to workspace $ws3; workspace $ws3
bindsym $mod+Shift+apostrophe move container to workspace $ws4; workspace $ws4
bindsym $mod+Shift+5 move container to workspace $ws5; workspace $ws5
bindsym $mod+Shift+minus move container to workspace $ws6; workspace $ws6
bindsym $mod+Shift+egrave move container to workspace $ws7; workspace $ws7
bindsym $mod+Shift+8 move container to workspace $ws8; workspace $ws8
bindsym $mod+Shift+ccedilla move container to workspace $ws9; workspace $ws9
bindsym $mod+Shift+agrave move container to workspace $ws10; workspace $ws10
bindsym $mod+Shift+parenright move container to workspace $ws11; workspace $ws11
bindsym $mod+Shift+equal move container to workspace $ws12; workspace $ws12

# Workspace 1 (Web) :
assign [class="Google-chrome|Vivaldi-snapshot|Vivaldi|firefox"]                 $ws1
for_window [class="Google-chrome|Vivaldi-snapshot|Vivaldi|firefox"]             move to workspace $ws1

# Workspace 5
assign [class="Thunderbird|Geary"]                                      $ws4
for_window [class="Thunderbird|Geary"]                                  move to workspace $ws4

# Workspace 5
assign [class="freetube|FreeTube|Stremio"]                                      $ws5
for_window [class="freetube|Freetube|Stremio"]                                  move to workspace $ws5

# Workspace 6 (Chat) :
assign [class="discord-canary|discord|Teamspeak3|Pidgin"]                 $ws6
for_window [class="discord-canary|discord|Teamspeak3"]            move to workspace $ws6

# Workspace 7 (Music, Keepassxc) :
assign [class="Spotify|keepassxc"]                                      $ws7
for_window [class="Spotify"]                                            move to workspace $ws7

# Workspace 8 (VM) :
assign [class="VirtualBox|Rambox|Franz|virt-manager"]                                             $ws8

# Float
for_window [class="pavucontrol|nm-connection-editor|Blueman-manager|blueman-manager|Pavucontrol|Blueberry.py"] floating enable

# Mini-Player
for_window [title="Freetube Mini-Player"] floating toggle; exec --no-startup-id bottomleft; sticky toggle
bindsym $mod+Shift+b floating enable; sticky enable; exec --no-startup-id bottomleft; exec notify-send "video mode 📼"

###############################
#     STARTUP APPLICATIONS    #
###############################

#compton: windows styler
exec_always --no-startup-id compton

#Wallpaper
{{- if eq .chezmoi.hostname "spectre" }}
exec_always --no-startup-id DISPLAY=:0.0 feh --bg-scale ~/Pictures/wallpaper/wave.png
exec_always --no-startup-id DISPLAY=:0.1 feh --bg-scale ~/Pictures/wallpaper/load.png

{{- else if eq .chezmoi.hostname "simforhealth" }}
exec_always --no-startup-id DISPLAY=:0.0 feh --bg-scale ~/Pictures/wallpaper/portail-shinto.jpg
exec_always --no-startup-id DISPLAY=:1.1 feh --bg-scale ~/Pictures/wallpaper/portail-shinto.jpg

{{- end }}


#Launch system programs
exec_always --no-startup-id compton
exec_always --no-startup-id dunst

exec_always --no-startup-id {{ .defaults.term }} --class dropdown -t dropdown -e tmux new -s dropdown
exec --no-startup-id nm-applet

# exec xscreensaver -nosplash
# exec --no-startup-id blueman-applet
# exec --no-startup-id /usr/lib/geoclue-2.0/demos/agent

#Launch startup programs
# exec --no-startup-id discord-canary
exec --no-startup-id geary
exec --no-startup-id keepassxc

exec_always --no-startup-id "killall -q --wait polybar; polybar -r one"

{{- if eq .chezmoi.hostname "spectre" }}
exec --no-startup-id blueberry-tray
exec --no-startup-id /usr/lib/polkit-gnome/polkit-gnome-authentication-agent-1

{{- else if eq .chezmoi.hostname "simforhealth" }}
exec_always --no-startup-id "polybar -r two"
exec_always --no-startup-id "rambox"

{{- end }}

# I use rambox instead
# exec --no-startup-id "LANG=fr_FR.UTF-8; pidgin"
exec_always --no-startup-id "killall xautolock;xautolock"

