[Unit]
Description=Mount WebDAV Service
After=network-online.target
Wants=network-online.target

[Mount]
What=https://nextcloud.nofreedisk.space/remote.php/webdav/ 
Where=/home/dauliac/nextcloud
Options=uid=1000,file_mode=0664,dir_mode=2775,grpid
Type=davfs
TimeoutSec=20

[Install]
WantedBy=multi-user.target
