@^(https?\:\/\/[^\s]+[\/\w].youtube.com) = vlc
@^(https?://|www\.) = $BROWSER
image/              = feh
video/              = vlc
audio/              = mplayer::vlc
text/               = $EDITOR?:alacrytty
application/pdf     = zathura
inode/directory     = nnn?:alacrytty
